{% extends 'base.html.twig' %}
{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
            <h1>This is secured by Basic Auth</h1>
            <h2>Good to see you, <strong>{{ app.user.username }}</strong></h2>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <i class="glyphicon glyphicon-adjust"></i> This page is secret
        </div>
    </div>
{% endblock %}